/.KairosSystemRuntimeModule.java._trace
/.KairosSystemRuntimeModule.xtendbin
/.KairosSystemStandaloneSetup.java._trace
/.KairosSystemStandaloneSetup.xtendbin
/KairosSystemRuntimeModule.java
/KairosSystemStandaloneSetup.java
