<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.inria.kairos.tuto.concretesyntax.design.Activator"
               id="fr.inria.kairos.tuto.concretesyntax.design"
	       name="kairosSystem">
    </component>
  </extension>
</plugin>
